

.login-form{
    background-color: khaki;
    max-width: 416px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px; ;
}

.login-form label{
    display: block;
    margin: 30px auto;
}
.login-form span{
    display: block;
    margin-bottom: 6px;
}

.login-form input{
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}

.login-form button{
    background:black;
    border: 2px solid blanchedalmond;
    padding: 6px 12px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;
}