.signup-form{
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
}

.signup-form label{
    display: block;
    margin: 30px auto;

}

.signup-form span{
    display: block;
    margin-bottom: 6px;

}
.signup-form input{
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}

.signup-form button{
    background: springgreen;
    border: 2px solid #1f9751;
    padding: 6px 12px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;
}

.signup-form input[type="checkbox"] {
	width: unset;
	margin-right: 8px;
    padding: 12px 0px;
	text-align: center
}