.review-form form{
    background-color: khaki;
    padding:20px;
    border-radius: 10px;
}
.review-form h3{
    color: khaki;
}

@media screen and (max-width:600px) {
    .review-form form{
        max-width: 484px;
        margin: auto;
    }
    }

